/* Project fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #F5F7F8;
    font-family: 'Lato', sans-serif;

}

/* Header styling */
header {
    background-color: #004225;
    z-index: 99;
    width: 100%;
    color: #F5F7F8;
    position: fixed;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #F5F5DC;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: Oswald,
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 0.5em;

}

nav {
    position: absolute;
    background-color: #004225;
    width: 100%;
    margin-left: 0;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 2px #F5F5DC;
    display: none;
}

#navbar-toggle:checked~nav {
    display: block;

}


.navbar-toggle-label {
    font-size: 2rem;
}

#navbar-toggle {
    display: none;
}

/* Main Content Styling */

main {
    /* background-color: #FFB000; */
    background-color: #F5F5DC;
    flex: 1 0 auto;
    margin-top: 47px;
    color: #000000;
}

#introduction img {
    width: 100%;
}

#intro-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

#intro-container p {
    margin: 5px 15px;
}

#early-life-link {
    background: url("../images/TELEMMGLPICT000165675713_trans_NvBQzQNjv4Bq-wioWl5aH7fAEJ8IWJw2Y29B1LEDEnWrF26oEaqVPuY.jpeg") no-repeat center /cover;
    width: 90%;
    height: 200px;
    max-height: 400px;
    margin: auto auto;
    border: 1px solid #ffffff;
}

#professional-link {
    background: url("../images/siya-wp.webp") no-repeat center/cover;
    width: 90%;
    height: 200px;
    max-height: 400px;
    margin: auto auto;
    border: 1px solid #ffffff;
}

#international-link {
    background: url("../images/int-career.webp") no-repeat center/cover;
    height: 200px;
    width: 90%;
    margin: auto auto;
    border: 1px solid #ffffff;
}

#early-life-link>div, #professional-link>div,
#international-link>div {
    position: absolute;
    background-color: #3a3a3a;
    opacity: 0.6;
    height: 50px;
    width: 100px;
    right: 20px;
    text-align: center;
    padding-top: 5px;
}

#early-life-link a, #professional-link a, #international-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}

/* Footer styling */

footer {
    background-color: #004225;
    border-top: 1.8px solid #F5F5DC;

}

#social-network-links {
    color: #F5F7F8;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

#social-network-links i {
    font-size: 130%;
    padding: 5%;
    color: #F5F7F8;
}


/* Media querty: tablets and larger screens */
@media screen and (min-width: 768px) {

    .navbar-toggle-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    #title {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }
}