/* Project fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #F5F7F8;
    font-family: 'Quicksand', sans-serif;

}

/* Header styling */
header {
    background-color: #004225;
    z-index: 99;
    width: 100%;
    color: #F5F7F8;
    position: fixed;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #F5F5DC;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid #ffffff;
    font-size: 140%;
}

h1,
h2 {
    
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
}

#feedback h5 {
    font-family: Oswald,
        sans-serif;
    text-align: left;
    font-size: 100%;
    margin-bottom: 10px;

}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 0.5em;

}

nav {
    position: absolute;
    background-color: #004225;
    width: 100%;
    margin-left: 0;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 2px #F5F5DC;
    display: none;
}

#navbar-toggle:checked~nav {
    display: block;

}


.navbar-toggle-label {
    font-size: 2rem;
}

#navbar-toggle {
    display: none;
}

/* Main Content Styling */

main {
    background-color: #F5F5DC;
    flex: 1 0 auto;
    margin-top: 57px;
    color: #000000;
}


#introduction img {
    width: 100%;

}

#intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

#intro-container p {
    margin: 5px 15px;
}

#early-life-link img,
#professional-link img,
#international-link img {
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #004225;

}

.full-length-header {
    background-color: #004225;
    width: 100%;
    text-align: center;
}

.info-link {
    color: #F5F5DC;
    text-decoration: none;
    font-size: 110%;
}

/* Main content on Career page styling */

hr {
    margin-top: 15px;
    border: 1.5px solid #000000;
}

#el-info img,
#pro-info img,
#int-info img {
    width: 100%;
}

.reverse-color {
    background-color: #004225;
    color: #F5F7F8;
}

/* Feedback form */
#main-feedback {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 47px;

}

#feedback {
    background-image: url("../images/siya-int-career-info.webp");
    background-size: cover;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    background-position: 10%;

}

#feedback-form {
    color: #F5F7F8;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 15px 10px;
    margin-top: 100px;
}

.text-input {
    color: #F5F7F8;
    background: transparent;
    width: 100%;
    height: 22px;
    margin: 5px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #F5F7F8;
    padding: 0 5px;

}

.multi-line-text-input {
    color: #F5F7F8;
    background: transparent;
    width: 100%;
    margin: 5px 0 15px 0;
    border-radius: 4px;
    border: 1px solid #F5F7F8;
    padding: 0 5px;
}

.radio-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feeback-button {
    text-align: center;
    width: 80%;
    color: #F5F7F8;
    background-color: #004225;
    border-radius: 2px;
    border: 1px solid #F5F7F8;
    padding: 20px 15px 20px 15px;
    font-size: 100%;
    margin: 20px 10px 15px 25px;

}

.feeback-button:hover {
    background-color: #F5F5DC;
    color: #004225;
}


/* Gallery page */
#gallery-main {
    background-color: #004225;
}

#gallery h2 {
    background-color: #F5F5DC;
    
}

#images img {
    width: 100%;
    line-height: 1em;
}

#images {
    line-height: 0;
}

/* Footer styling */

footer {
    background-color: #004225;
    border-top: 1.8px solid #F5F5DC;

}

#social-network-links {
    color: #F5F7F8;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

#social-network-links i {
    font-size: 130%;
    padding: 5%;
    color: #F5F7F8;
}

/* Media querty: tablets and larger screens */
@media screen and (min-width: 768px) {

    .navbar-toggle-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    #title {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }

    #introduction {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #more-info-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    #early-life-link,
    #professional-link,
    #international-link {
        width: 70%;
        border: none;

    }

    /* Career page styling */
    #el-image,
    #pro-image,
    #int-image {
        width: 50%;
    }

    #el-text,
    #int-text,
    #pro-text {
        width: 35%;
    }

    .reverse-color {
        background-color: #004225;
        color: #F5F7F8;
    }

    .two-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .two-column-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

    /* Feedback form styling */
    #feedback {
        background-position: center;
        position: relative;
    }
    #feedback-form {
        max-width: 400px;
        position: absolute;
        top: 30px;
        right: 10%;
    }

    .radio-button {
        width: 40%;
        align-items: center;

    }

    

    .feeback-button:hover {
        background-color: #F5F5DC;
        color: #004225;
    }

    /*  Gallery Page */
         
    #images {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query for medium screens */
@media screen and (min-width: 992px) {

    /* Main Page styling */
    #introduction {
            width: 55%;
            margin-left: auto;
            margin-right: auto;
    
        }

    #early-life-link,
    #professional-link,
    #international-link {
        width: 50%;
        border: none;

    }

    /* Feedback page styling */
    #feedback {
        background-position: center;
        position: relative;
    }

    #feedback-form {
        max-width: 500px;
        position: absolute;
        top: 30px;
        right: 10%;
    }

    .feeback-button {
        width: 50%;
        padding: 25px 15px 25px 15px;
        font-size: 100%;
        margin: 20px 20px 30px 20px;
    }

    .feeback-button:hover {
        background-color: #F5F5DC;
        color: #004225;
    }

    #feedback h5 {
        text-align: left;
        font-size: 120%;
    }

    /*  Gallery Page */

    #images {
        column-count: 3;
        column-gap: 0;
    }

}

/* Media query for large screens */
@media screen and (min-width: 1200px) {
    #introduction {
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    #intro-container>div {
        width: 60%;
        margin: auto auto;
        font-size: 1.5rem;

    }

    #more-info-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    #early-life-link,
    #professional-link,
    #international-link {
        width: 50%;
        border: none;
    }

    /* Career page styling */
    #el-image,
    #pro-image,
    #int-image {
        width: 40%;

    }

    #el-text,
    #int-text,
    #pro-text {
        width: 25%;
        font-size: 1.5rem;
    }

    .reverse-color {
        background-color: #004225;
        color: #F5F7F8;
    }

    .two-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .two-column-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;

    }

}
