/* Project fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #F5F7F8;
    font-family: 'Lato', sans-serif;

}

/* Header styling */
header {
    background-color: #004225;
    z-index: 99;
    width: 100%;
    color: #F5F7F8;
    position: fixed;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #F5F5DC;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: Oswald,
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 0.5em;

}

nav {
    position: absolute;
    background-color: #004225;
    width: 100%;
    margin-left: 0;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 2px #F5F5DC;
    display: none;
}

#navbar-toggle:checked~nav {
    display: block;

}


.navbar-toggle-label {
    font-size: 2rem;
}

#navbar-toggle {
    display: none;
}



/* Main Content Styling */

main {
    /* background-color: #FFB000; */
    background-color: #F5F5DC;
    flex: 1 0 auto;
    margin-top: 47px;
    color: #000000;

}

#introduction img {
    width: 100%;
}

#intro-container {
    /* display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    flex-wrap: wrap; */


}

/* #intro-container p {
    margin-top: 20px;
} */

#intro-part-1 {

    margin: 10px;


}

#intro-part-2 {


    margin: 10px;


}

#more-info {
    background-color: #000000;
    color: #F5F5DC;
    margin-top: 20px;

}

/* Footer styling */

footer {
    background-color: #004225;
    border-top: 1.8px solid #F5F5DC;

}

#social-network-links {
    color: #F5F7F8;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

#social-network-links i {
    font-size: 130%;
    padding: 5%;
    color: #F5F7F8;
}


/* Media querty: tablets and larger screens */
@media screen and (min-width: 768px) {

    .navbar-toggle-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    #title {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }
}